# OS-specific
.DS_Store

# editors
*.swp

# Bundler/Rubygems
.bundle
pkg/*
tags
Gemfile.lock

# Vagrant
vm/
setup/
*.gem
.vagrant
Vagrantfile
!example_box/Vagrantfile

# RVM files for gemset/ruby setting
.ruby-*
.rvmrc
